header {
  padding: 7px;
  background-color: #5b5e6a;
  color: #f2ebf0;
  text-transform: capitalize;
  text-align: center;
  font-size: 18px; }

main.messages {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 1; }

footer.send-message {
  margin-bottom: 25px; }

